<style>
  body{
    font-family: Calibri,sans-serif;
    margin: 0px;
    color: #3b3b3b;
    background: #fdfdfd;
  }
  table{
    text-align: left;
    border-spacing: 0;
  }
  tr{
    height: 10vh;
  }
  tr:nth-child(even){
    background: #f6f6f6;
  }
  td{
    padding: 6px 12px;
    font-size: 20px;
  }
  th{
    font-size: 30px;
    padding: 6px 12px;
    color: #ffffff;
    background: #EF6358;
  }
  #header{
    height: 10vh;
    width: 100%;
    background: #fdfdfd;
    display: flex;
    align-items: center;
  }
  #map{
    width: 60%;
    height: 90vh;
    float: right;
  }
  #table_container{
    height: 90vh;
    overflow-y: auto;
  }
  .header_child{
    display: inline;
    margin: auto;
  }
</style>
<div id="header">
  <div class="header_child"><img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png">> 15</div>
  <div class="header_child"><img src="http://maps.google.com/mapfiles/ms/icons/yellow-dot.png">> 10</div>
  <div class="header_child"><img src="http://maps.google.com/mapfiles/ms/icons/green-dot.png">> 5</div>
  <div class="header_child"><img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png">> idkdude</div>
</div>
<div id="map"></div>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9w5qw77rOY6j6aa_f9q_65fvEB7c-9JI&callback=initMap">
</script>
<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: new google.maps.LatLng(57.708870,11.974560)
    });
    var marker;
    <% @privateparkings.each do |privateparking| %>
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%=privateparking.lat%>, <%=privateparking.long%>),
        map: map,
        <% if (privateparking.currentparkingcost.to_i > 15) %>
          icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
        <% elsif (privateparking.currentparkingcost.to_i > 10) %>
          icon: 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'
        <% elsif (privateparking.currentparkingcost.to_i > 5) %>
          icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
        <% end %>
      });
    <% end %>
  }
</script>
<div id="table_container">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Slots</th>
        <th>Parkingcost</th>
        <th>Current Cost</th>
      </tr>
    <thead>
    <tbody>
      <% @privateparkings.each do |privateparking| %>
      <tr>
        <td><%= privateparking.name %></td>
        <td><%= privateparking.parkingspaces %></td>
        <td><%= privateparking.parkingcost %></td>
        <td><%= privateparking.currentparkingcost %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
